.content {
  margin: auto;
  width: min(100%, 720px);
  padding: 1em 5dvw;
  display: grid;
  gap: 1.5em;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 0.7em;
  padding: 1.5em;
  border-radius: 1.2em;
  line-height: 1.35em;
  box-shadow: 0 0 10px 0 hsl(var(--theme-clr-1) h s l / 0.7);
}

.about {
  color: var(--theme-clr-3);
  background-color: var(--theme-clr-1);
}

.section__title {
  font-size: 1.5em;
  font-weight: bold;
}

.section_about__wrapper {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 2em 1em;
}

.section_about__link {
  align-self: center;
  width: calc(1 / 3 * 100%);
}

.section_about__image {
  border-radius: 50%;
  width: 100%;
  aspect-ratio: 1/1;
  border: 2px solid var(--theme-clr-3);
}

.section__text {
  text-align: justify;
  line-height: 1.5;
}

.section__link {
  transition: all 0.3s ease;
}

.section__text_link {
  font-size: 1.8rem;
  display: flex;
  padding-block: 0.3rem;
}

.section__text_link_active:active {
  color: var(--theme-clr-1);
}

.projects {
  border: 2px solid var(--theme-clr-2);
}

.interests {
  color: var(--theme-clr-3);
  background-color: var(--theme-clr-1);
  border: 2px solid var(--theme-clr-2);
}

.blog {
  border: 2px solid var(--theme-clr-2);
  background-color: var(--theme-clr-3);
  background-color: color-mix(in srgb, var(--theme-clr-2) 7%, var(--bg-clr));
}

.blogs_list {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}

.blogs_item {
  padding: 0;
  margin: 0;
}

.post {
  background-color: var(--bg-clr);
  font-size: 0.9em;
  padding: 0.2em 0;
  display: flex;
  flex-direction: column;
  gap: 0.2em;
  border-radius: 1em;
}

.post__sender {
  padding-inline: 0.7em;
  font-size: 0.85em;
  font-weight: bold;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: var(--theme-clr-2);
  text-decoration: none;
  display: block;
  transition: all 0.3s ease;
  cursor: pointer;
}

.post__sender:hover {
  color: var(--theme-clr-1);
  text-decoration: underline;
}

.post__sender:active {
  opacity: 0.7;
}

.post__content {
  width: 100%;
}

.post__text {
  padding-inline: 0.7em;
  line-height: 1.35em;
}

.post__quote {
  margin: 0.3em 0 0.6em;
}

.post__quote_text {
  background-color: color-mix(in srgb, var(--theme-clr-2) 10%, #00000000);
  padding: 0.2em 1em;
  border-radius: 0.3em;
  border-left: 0.3em solid var(--theme-clr-2);
}

.post__date {
  padding-inline: 0.7em;
  width: 100%;
  text-align: right;
  font-size: 0.85em;
  opacity: 0.6;
  line-height: 1.2em;
}

.post__button {
  width: 100%;
  margin-top: 0.5em;
}

.post__button_link {
  padding-inline: 1em;
  width: 100%;
  padding-block: 0.5em;
  text-decoration: none;
  font-size: 1.1em;
  color: var(--theme-clr-1);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  transition: all 0.3s ease;
}

.post__button_link:hover {
  text-decoration: underline;
  color: var(--theme-clr-2);
}

.post__button_link:active {
  opacity: 0.7;
  transform: translateY(1px);
}

.post__button_icon {
  font-weight: bold;
}
