.footer {
    height: 150px;
    width: 100vw;
    padding: 0.65em 0 0 0.65em;
    background-color: var(--theme-clr-4);
}

.footer__bar_link {
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer__bar_link-item {

}

.footer__bar_link-item--developer {
    color: var(--bg-clr);
    &._effect:hover {

    }
}

.footer__bar_link-item--developer_effect {

}

.footer__WaterMark {

}

.footer__WaterMark-text {

}
