.footer {
    height: 150px;
    width: 100vw;
    background-color: var(--theme-clr-4);
}

.footer__bar_link {
    display: flex;
    flex-direction: column;
}

.footer__bar_link-item {

}

.footer__bar_link-item--developer {
    &._effect:hover {

    }
}

.footer__bar_link-item--developer_effect {

}

.footer__WaterMark {

}

.footer__WaterMark-text {

}
