.menu {
  padding: 0;
  position: fixed;
  inset: 0;
  right: 50%;
  background-color: var(--bg-clr);
  z-index: 12;
}

.backdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 11;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  will-change: backdrop-filter;
}

.right_side {
  padding: 0;
  position: fixed;
  inset: 0;
  left: 50%;
  background-color: transparent;
  z-index: 11;
}

.menuList {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
}

.menuItemLink {
  display: flex;
  padding: 1.2em 1em;
  text-wrap: nowrap;
  transition: all 0.3s ease;
  text-decoration: none;
  color: inherit;
}

.menuItemLink:hover {
  color: var(--theme-clr-1);
  text-decoration: underline;
}

.menuDetails {
  padding: 1.2em 1em;
  text-wrap: nowrap;
  position: relative;
  text-decoration: underline;
}

.menuDetailsSummary:hover {
  text-decoration: underline;
}

.menuDetailsList {
  position: absolute;
  top: 2.8lh;
  left: 0;
  width: max-content;
  text-align: right;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  border: 2px solid var(--theme-clr-1);
  border-radius: 0.5em;
  background-color: var(--theme-clr-3);
}

[data-theme="dark"] .menuDetailsList .menuItemLink {
  color: #000;
}

.burger {
  height: 3.5rem;
  margin-top: 1rem;
  margin-left: 1rem;
  position: relative;
  z-index: 11;
  cursor: pointer;
  touch-action: manipulation;
}
/*анимку сложно сделать? */
