.menu {
  padding: 0;
	position: sticky;
  top: 0;
  background-color: var(--theme-clr-4);
  backdrop-filter: blur(4px);
}

.menuList {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

/*так к чему тут добавить position relative а к чемуму stici*/

.menuItemLink {
  display: flex;
  padding: 1.2em 1em;
  text-wrap: nowrap;
  transition: all 0.3s ease;
  text-decoration: none;
  color: inherit;
  margin-top: 0.5rem;
  border-radius: 0.5rem;
}

.menuItemLink:hover {
  color: var(--bg-clr);
  background-color: var(--theme-clr-1);
  text-decoration: underline;
}

.menuDetails {
  padding: 1.2em 1em;
  text-wrap: nowrap;
  position: relative;
  text-decoration: underline;
}

.menuDetailsSummary:hover {
  text-decoration: underline;
}

.menuDetailsList {
  position: absolute;
  top: 2.8lh;
  right: 0;
  width: max-content;
  text-align: right;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  border: 2px solid var(--theme-clr-1);
  border-radius: 0.5em;
  background-color: var(--theme-clr-3);
}

[data-theme="dark"] .menuDetailsList .menuItemLink {
  color: #000;
}
